.house {
    // padding:20px;
    padding-top: 25px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 4px #ea4c89, inset 0 0 8px #ea4c89;
    }
    50% {
        box-shadow: 0 0 30px #ea4c89, inset 0 0 14px #ea4c89;
    }
    100% {
        box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
    }
}

.inner {
    background-color: transparent;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    padding: 20px;
    box-shadow: 0 0 20px #ea4c89, inset 0 0 20px #ea4c89;
    animation: pulse 2s linear 1s infinite;
}

//bubble
#bubbleholder {
    /*  margin-right: 40px; */
    position: absolute;
}
p.bubble {
    position: absolute;
    width: 300px;
    text-align: center;
    line-height: 1.4em;
    margin: 40px auto;
    z-index: 1;
    background-color: #fff;
    border: 8px solid #333;
    border-radius: 30px;
    font-family: sans-serif;
    padding: 20px;
    font-size: large;
    margin-top: 0px;
}

p.thought {
    width: 270px;
    border-radius: 200px;
    padding: 30px;
    margin-left: 0px;
}

p.bubble:before,
p.bubble:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
}

p.speech:before {
    left: 30px;
    bottom: -50px;
    border: 25px solid;
    border-color: #333 transparent transparent #333;
}

p.speech:after {
    left: 38px;
    bottom: -30px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}

p.thought:before,
p.thought:after {
    left: 190px;
    bottom: -30px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 8px solid #333;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

p.thought:after {
    width: 20px;
    height: 20px;
    //left: 5px;
    bottom: -40px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.imageHouse {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    width: 350px;
}

//endbubble
