<div style="box-shadow: black; max-width: 400px;" >

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
           <!--  This is the expansion title -->
          </mat-panel-title>
          <mat-panel-description>
          <!--   This is a summary of the content -->
          </mat-panel-description>
        </mat-expansion-panel-header>
       <!--  <p>This is the primary content of the panel.</p> -->
      </mat-expansion-panel>
      <mat-expansion-panel 
      [expanded]=true
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false" class="extansionHeader">
        <mat-expansion-panel-header >
          <mat-panel-title>
          </mat-panel-title>
          <mat-panel-description >
            <!--  {{panelOpenState ? 'Zum schließen klicken' : 'Zum öffnen klicken'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
  
        <div *ngFor="let tt of devices; let i = index" style=" width: 140px;">
  
          <div *ngIf="tt.online==true; else: offline" class="btn{{i%2}}">
            <div *ngIf="tt.params.switch=='on'">
              <button id="buttonOn"   (click)="toggle(tt.deviceid)">{{tt.name}}</button>
            </div>
            <div *ngIf="tt.params.switch=='off'" class="btn{{i%2}}">
              <button id="buttonOff" (click)="toggle(tt.deviceid)">{{tt.name}}</button>
            </div>
          </div>
          <ng-template #offline >
            <div class="btn{{i%2}}">
              <button id="buttonOffline"  [disabled]="true">{{tt.name}}</button>
            </div>
          </ng-template>
      
        </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  
  </div>
