#divWeatherMain {
    display: block;
    border-radius: 15px;
    width: 350px;
    height: 100px;
    //background: linear-gradient(180deg, rgb(248, 234, 234) 0%, rgb(134, 13, 134) 0%);
    background-color: #1E90FF;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}



.sun {
    margin-top: 10px;
    color: yellow;
    filter: drop-shadow(1px 1px 10px yellow);
}

.moon {
    margin-top: 10px;
    color: white;
    filter: drop-shadow(1px 1px 10px white);
}

.topIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    padding-bottom: 0px;
}

#weatherIcon {
    width: 40px;
    filter: brightness(0) invert(1);
}

#weatherData{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}