<div id="divWeatherMain">

    <div style="font-size: 32px; margin-top: 5px; " class="topIcons" *ngIf="promiseServer">
        <div *ngIf="WeatherData.isDay&&WeatherData.clouds.all<50">
            <img src="./assets/weather/sun.svg" alt="" id="weatherIcon">
        </div>
        <div *ngIf="!WeatherData.isDay&&WeatherData.clouds.all<50" id="weatherIcon">
            <img src="./assets/weather/moon.svg" alt="">
        </div>
        <div *ngIf="WeatherData.clouds.all>=50" id="weatherIcon">
            <img src="./assets/weather/rain.svg" alt="">
        </div>
        {{WeatherData.temp_celcius}}°
        <div>

            <p class="weatherWidgetRow" style="font-size: 14px; text-align: center; margin-top: 10px;">
                Luftfeuchtigkeit:
                {{WeatherData.main.humidity}}%
            </p>
           

            <p class="weatherWidgetRow" style="font-size: 14px; text-align: center;">Fühlt sich an wie:
                {{WeatherData.temp_feels_like}}°
            </p>
        </div>
    </div>
</div>